repos:
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
      - id: flake8
        additional_dependencies:
          [
            "-e",
            "git+https://github.com/pycqa/pyflakes@1911c20#egg=pyflakes",
            "-e",
            "git+https://github.com/pycqa/pycodestyle@d219c68#egg=pycodestyle",
          ]
        args: [--config=src/setup.cfg]
